@font-face {
    font-family: 'TitlingGothicFB Wide';
    src: url('TitlingGothicFBWide-Bold.woff2') format('woff2'),
        url('TitlingGothicFBWide-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TitlingGothicFB Wide';
    src: url('TitlingGothicFBWide-Medium.woff2') format('woff2'),
        url('TitlingGothicFBWide-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

